<mat-card>
    <mat-card-title class="admin-header--bg">Admin Panel</mat-card-title>
    <mat-card-content class="admin-content--bg">
        <h3>Users</h3>
        <table style="width: 100%;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            <tr *ngFor="let user of users">
                <th>{{ user.id }}</th>
                <th>{{ user.name }}</th>
                <th>{{ user.email }}</th>
                <th>{{ user.role }}</th>
            </tr>
        </table>
    </mat-card-content>
</mat-card>