.header--bg {
    background-color: cyan;
}

.dashboard-content--bg {
    background-color: grey;
}

.acc-list--bg {
    background-color: aquamarine;
}

.rt-list--bg {
    background-color: lightgoldenrodyellow;
}